<li>
	{{name}}:
	${{amount}}
	<input type="value" id="amount" data-id="{{this.id}}">
	<button class="update-amount" data-id="{{this.id}}">Update</button>
	<button class="delete-expense" data-id="{{this.id}}">Delete</button>
</li>
